<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Basic Two Way Binding</title>
    <style>

      .username.ng-valid {
        background-color : green;
      }

      .username.ng-dirty.ng-invalid-minlength
      {
        background-color: red;
      }
      .username.ng-dirty.ng-invalid-required
      {
        background-color: yellow;
      }


      </style>

    <!--Loading the Angular library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js">
    </script>

    <script type="text/javascript">

      angular.module("myApp",[])
      .controller("myController",[

      function(){

          var self=this;

          self.submit=function()
          {
            console.log("User submitted with :",self.user);
          };

      }]);

    </script>
  </head>
  <body ng-controller="myController as ctrl">

    <!-- ng-model is used to bind the variable of userName in this
  instance of ctrl to the value currently entered in the input box. -->
    <form ng-submit="ctrl.submit()" name="myForm">

      <!--
      we did not declare a self.user in the controller.
      while binding, angular automatically creates keys and values
      responsible for binding.
      this is if we use ng-model.
        -->

        <!--
          required and ng-minlength are the conditions that we place on the form.
          only when all these form elements are valid, will
          myForm.$invalid be TRUE.
          thus only then the submit button will get enabled.

          $invalid is a form state
          -->
      <input type="text" name="uname" class="username" ng-model="ctrl.user.name" placeholder="Enter your name" required ng-minlength=4>
      <span ng-show="myForm.uname.$error.required"> This is required </span>
      <span ng-show="myForm.uname.$error.minlength"> Too Short </span>

      <input type="password" ng-model="ctrl.user.password" placeholder="Enter your password" required>
      <input type="submit" name="" value="Submit" ng-disabled="myForm.$invalid">
    </form>

  </body>
</html>
